@use '../../styles/variables';

.sms-verify {
    &__layout {
        padding: 0 21px;
        display: flex;
        flex-direction: column;
    }

    &__inputs {
        display: flex !important;
        gap: 16px;
        justify-content: center;
    }

    &__input {
        text-align: center;
        width: 48px;
        height: 52px;
        border-radius: 15px;
        border: 1px solid variables.$line;
        background-color: variables.$background;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
        color: variables.$orange;

        &:focus {
            box-shadow: none;
            border-color: variables.$orange;
        }

        &:not(:placeholder-shown) {
            border-color: variables.$orange;
        }

        &::-webkit-autofill {
            appearance: none;
        }
    }
}
