@use '../../styles/variables';

.button {
    width: 100%;
    height: 49px;
    border-radius: 25px;
    background: variables.$orange;
    border: none;
    color: variables.$white;
    font-weight: 500;
    margin-top: 25px;
    cursor: pointer;

    &_disabled {
        background: variables.$button-grey;
        color: variables.$grey;
        cursor: auto;
    }
}
