@use '../../../../styles/variables';

.orders-tabs {
    height: 38px;
    margin-top: 75px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-bottom: 2px solid variables.$grey-line;
}
