@use '../../../styles/variables';

.meal-total {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 11px;
    padding: 0 15px;
    margin: 5px 0 25px;
    background-image: linear-gradient(variables.$light-gray, 1%, variables.$background 19%);

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:first-of-type {
            margin-top: 10px;
        }
    }

    &__text {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.4;
        color: variables.$black;
    }

    &__price {
        font-size: 20px;
    }

    &__button {
        margin-top: -15px;
        width: 100%;
    }
}
