@import '../../../../../styles/variables.scss';

.details {
    display: flex;
    flex-direction: column;

    &__meals {
        display: flex;
    }
    &__meal {
        display: flex;

        &_name {
            display: block;
        }

        &_feature {
            display: block;
        }

        &_price {
            display: block;
        }
    }
}
