@use '../../../styles/variables';

.container {
    max-width: 300px;
    display: flex;
    margin: 25px auto 0;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &__button {
        border: none;
        background-color: transparent;
        height: 16px;
        width: 16px;
        font-size: 14px;
        color: variables.$black;
        font-weight: 500;

        &_prev,
        &_next {
            background-image: url("../../../vendor/images/icons/arrow-back.svg");
            background-size: cover;
        }

        &_prev {
            margin-right: 10px;
        }

        &_page {
            width: 25px;
            height: 25px;
            border-radius: 5px;

            &[disabled] {
                color: variables.$light-gray;
            }
        }

        &_next {
            rotate: 180deg;
            margin-left: 10px;
        }
    }
}

.active {
    background-color: variables.$orange;
    color: variables.$white;
}
