@import '../../../../../styles/variables.scss';

@mixin summary {
    display: grid;
    grid-template-columns: auto 124px 30px;
    width: 100%;
    border-radius: 25px;
    padding: 10px 27px 10px 15px;
}

@mixin icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.accordion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: $background;

    &_archive_active {
        border: 1px solid $line;
        border-radius: 25px;
    }

    &_active {
        border: 1px solid $orange;
        border-radius: 25px;
    }
    &__summary {
        @include summary;
        background-color: $orange;

        &_active {
            background-color: $background;
        }
    }
    &__summary_archive {
        @include summary;
        border: 1px solid $line;
        background-color: $background;

        &_active {
            border: none;
            background-color: $background;
        }
    }
    &__username {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        color: $white;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &_active {
            color: $black;
        }

        &_archive {
            color: $light-gray;
        }
    }
    &__ordercode {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.4;
        color: $white;

        &_active {
            color: $black;
        }

        &_archive {
            color: $grey;
        }
    }
    &__icon {
        @include icon;
        background-image: url(../../../../../vendor/images/icons/admin/arrow-down.svg);

        &_active {
            background-image: url(../../../../../vendor/images/icons/admin/arrow-up.svg);
        }
    }
    &__icon_archive {
        @include icon;
        background-image: url(../../../../../vendor/images/icons/admin/arrow-down-black.svg);

        &_active {
            background-image: url(../../../../../vendor/images/icons/admin/arrow-up.svg);
        }
    }
    &__details {
        max-height: 0;
        width: 100%;
        overflow: hidden;
        padding: 1px 6px 1px 6px;
        margin-bottom: 10px;
        transition: max-height 0.2s ease-out;
    }
}
