@use '../../../../../../styles/variables';

.accordion-archive {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: variables.$background;

    &_active {
        border: 1px solid variables.$line;
        border-radius: 25px;
    }

    &__summary {
        display: grid;
        grid-template-columns: auto 30px;
        width: 100%;
        padding: 10px 27px 10px 15px;
        background-color: variables.$background;
        border: 1px solid variables.$orange;
        border-radius: 25px;

        &_active {
            border: none;
        }
    }

    &__date {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        color: variables.$black;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__icon {
        width: 24px;
        height: 24px;
        background-image: url('../../../../../../vendor/images/icons/admin/arrow-down-black.svg');
        cursor: pointer;

        &_active {
            background-image: url('../../../../../../vendor/images/icons/admin/arrow-up.svg');
        }
    }

    &__details {
        max-height: 0;
        width: 100%;
        overflow: hidden;
        padding: 1px 6px;
        margin-bottom: 10px;
        transition: max-height 0.2s ease-out;

        &_active {
            overflow-y: scroll;
        }
    }
}
