@import '../../../../styles/variables.scss';

.accordion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    background-color: $background;
    z-index: map-get($zIndexes, footer);
    transition: 0.3s;

    &_active {
        border: 1px solid $orange;
        border-radius: 25px;
        height: 270px;
    }
    &__summary {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-radius: 25px;
        padding: 10px 27px 10px 15px;
        background-color: $orange;
    }
    &__username {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        color: $white;
    }
    &__ordercode {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.4;
        color: $white;
    }
    &__icon {
        width: 24px;
        height: 24px;
        background-image: url(../../../../vendor/images/icons/admin/arrow-down.svg);
        cursor: pointer;
    }
}
