@use '../../../../../styles/variables';

.fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.types {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__title {
        margin-left: 12px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }
}

.type {
    &__container {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 10px;
    }

    &__input {
        position: relative;
        display: flex;
        appearance: none;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background-color: variables.$button-grey;
        border: 1px solid variables.$line;
        cursor: pointer;

        &:checked {
            background-color: variables.$orange;
            background-image: url('../../../../../vendor/images/icons/radioButton/check.svg');
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: normal;
    }
}

.tags {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 8px;

    &__title {
        color: variables.$grey;
        position: absolute;
        top: -10px;
        left: 8px;
        padding: 0 4px;
        background-color: variables.$background;
    }

    &__container {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        min-height: 58px;
        border-radius: 20px;
        border: 1px solid variables.$line;
        background-color: transparent;
        padding: 18px 13px 12px;
    }

    &__input {
        font-size: 14px;
        box-sizing: border-box;
        min-width: 150px;
        background-color: transparent;
        border: none;
        outline: none;
        height: 20px;
        padding: 0;
        flex: 1;

        &::placeholder {
            color: variables.$light-gray;
            font-weight: 400;
            line-height: 21px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        flex: 1;
    }
}

.tag {
    &__container {
        display: flex;
        align-items: center;
        background-color: variables.$button-grey;
        padding: 0 5px;
        border-radius: 15px;
        min-height: 26px;
    }

    &__text {
        font-size: 12px;
        font-weight: normal;
        line-height: 140%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 150px;
    }

    &__button {
        padding: 0;
        border: none;
        background-color: transparent;
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-size: cover;
        background-position: center;
        background-image: url('../../../../../vendor/images/icons/close-icon.svg');
    }
}
