@use '../../styles/variables';

.link-registration {
    color: variables.$orange;
    margin: 20px auto 0;
}

.link-recovery {
    color: variables.$grey;
    text-decoration: underline;
    margin: 10px 0 0 auto;
}

.form {
    &__field {
        border: none;
        padding: 0;
        margin: 0;
    }
}
