@use '../../../../../../styles/variables';

.yamap {
    width: 100%;
    height: 180px;
    border-radius: 11px;
    border: 1px solid variables.$grey-line;

    &__marker {
        height: 41px;
        aspect-ratio: 0.78;
        cursor: pointer;
    }
}
