@use '../../../styles/variables';

.choices {
    display: flex;
    flex-direction: column;
    padding-left: 5px;

    &__name {
        font-size: 10px;
        font-weight: 400;
        line-height: 1.22;
        color: variables.$grey;
    }
}

.meal {
    display: flex;
    flex-direction: column;
    padding: 0 0 8px;

    &__info {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__name {
        display: flex;
        padding: 0;
        margin: 0;
        color: variables.$black;
        font-size: 15px;
        line-height: 21px;
        font-weight: 400;
        max-width: 200px;
    }

    &__price {
        display: flex;
        color: variables.$black;
        font-size: 15px;
        line-height: 21px;
        font-weight: 500;
        justify-content: space-between;
    }

    &__price span {
        padding-left: 3px;
        color: variables.$light-gray;
    }

    &__count {
        display: flex;
        color: variables.$light-gray;
        font-size: 15px;
        font-weight: 400;
        padding-left: 7px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid variables.$grey-line;
    border-radius: 15px;
    padding: 10px;

    &__button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button-info {
        padding: 10px;
        border: none;
        background-color: transparent;
        color: variables.$black;
    }

    &__button-feedback {
        color: variables.$orange;
        border-radius: 15px;
        border: none;
        background-color: transparent;
    }

    &__rating-feedback {
        color: variables.$orange;
        border-radius: 15px;
        font-weight: normal;
    }

    &__container_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 20px;
    }

    &__code {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__code_text {
        color: variables.$light-gray;
        font-size: 14px;
        line-height: 14px;
    }

    &__title {
        padding-top: 20px;
        border-top: 1px solid variables.$grey-line;
        font-weight: 700;
        font-size: 16px;
    }

    &__status {
        padding: 4px 12px;
        border-radius: 15px;
        font-size: 12px;
        font-weight: 500;
        color: variables.$white;
        text-transform: uppercase;

        &--green {
            background-color: variables.$green;
        }

        &--orange {
            background-color: variables.$orange;
        }

        &--red {
            background-color: variables.$red;
        }
    }
}

.order-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
    border-radius: 24px;
    max-height: 230px;

    &__amount {
        padding-left: 10px;
    }

    &__title {
        color: variables.$black;
        font-size: 17px;
        line-height: 23.8px;
        font-weight: 500;
        display: flex;
        padding: 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-height: 200px;
        overflow-y: auto;
        padding: 0;
        border-bottom: 1px solid variables.$line;
    }

    &__price {
        color: variables.$black;
    }
}

.restaurant {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__container {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    &__image {
        height: 62px;
        width: 74px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 15px 0 0 15px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2px;
        padding: 10px;
    }

    &__title_container {
        display: flex;
        justify-content: flex-end;
    }

    &__title {
        flex-grow: 2;
        font-size: 17px;
        font-weight: 500;
        line-height: 1.4;
        color: variables.$black;
        margin-right: 5px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__icon {
        flex-shrink: 0;
        height: 15px;
        width: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('./../../../vendor/images/icons/restaurant/placemark.svg');
    }

    &__feature {
        display: flex;
        gap: 6px;
    }

    &__feature_title {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.21;
        color: variables.$grey;
    }

    &__rating {
        margin-right: 5px;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.4;
        color: variables.$black;
    }

    &__icon_star {
        background-image: url('./../../../vendor/images/icons/restaurant/star.svg');
    }

    &__icon_large {
        height: 19px;
        width: 19px;
    }
}

.detail-info {
    display: flex;
    flex-direction: column;

    &__contant {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 12px;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 14px;
        color: variables.$grey;
        font-weight: normal;
    }

    &__text {
        font-size: 16px;
    }
}
