@use '../../../../styles/variables';

.form {
    &__info_title {
        color: variables.$orange;
        font-size: 15px;
        line-height: 21px;
        text-align: center;
        font-weight: 500;
        padding: 0;
        margin: 30px auto 0;
    }
}

.restaurant {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        margin-left: 12px;
        color: variables.$grey;
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
    }

    &__list {
        display: flex;
        gap: 9px;
        overflow-x: auto;
    }
}
