@use '../../../../../styles/variables';

.administrator {
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 8px 21px 8px 15px;
    border: 1px solid variables.$orange;

    &__login {
        flex: 1;
    }

    &__button {
        padding: 0;
        border: none;
        background: transparent;
        width: 25px;
        height: 25px;
        background-image: url('../../../../../vendor/images/icons/buttonIconRound/edit.svg');
    }
}
