@import '../../../../styles/variables.scss';

.orders_tab {
    position: relative;
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 38px;
    border-bottom: 2px solid $orange;
    user-select: none;
    cursor: pointer;

    &_input {
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }
    &_text {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.4;
        color: $grey;
    }
    &_text_active {
        color: $orange;
    }
    &_active {
        background: $orange;
    }
}
