@use '../../styles/variables';

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spin {
    display: flex;
    margin: 20px auto 0;
    width: 50px;
    animation: spin 1s infinite linear;
    height: 50px;
    border: 12px solid variables.$orange;
    border-bottom: 12px solid variables.$white;
    border-radius: 50%;
}
